BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
